/***********************/
/* basics               /
/***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color: #555;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
    
}
section{
    padding: 100px 0;
}
h2{
    font-size: 180%;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
h2::after{
    display: block;
    content: '';
    height: 2px;
    width: 100px;
    background-color:#ffb8b6; 
    margin: 35px auto 0 auto;
}

/******************************************************************************************************************/
/***********************/
/* head                 /
/***********************/

h1{
    margin-bottom: 30px;
    font-size: 300%;
    font-weight: 300;
    word-spacing: 5px;
}
h3{
    text-align: center;
    direction: ltr;
    font-weight: 300; 
    margin-bottom: 15px;
    font-size: 110%;
}
/***********************/
/* paragraph            /
/***********************/
.text{
    line-height: 145%;
    text-align: center;
    width: 800px;
    margin: 0 auto 50px auto;
}


/*********************************************************
*********************************************************/
/***********************/
/* header               /
/***********************/


header{
    background-image:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) , url("../img/back3.jpg");
    background-size: cover;
    height: 100vh;
}

.hed{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50% ,-60%);
}

.main{
    float: right;
    list-style: none;
    margin-top: 35px;
    margin-right: 140px;
}

.main li{
    display: inline-block;
     margin-left: 50px;
     padding-bottom: 5px;
     transition: border-bottom 0.s , background_color 0.5s;    
     border-bottom: 3px solid #ffb8b6;
     padding: 10px;
}
.main li:hover
,.main li:active
{
 font-size: 200%;

}


.main li a{
    text-decoration: none;
    color: #555;
        /* transition: color 0.5s;    
*/
}

/******************************************************************************************************************/
/* buttons                 /
/***********************/


.lli{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 20px;
    font-size: 90%;
    border-radius: 5px;

}

.lli1{
    background-color: #ffb8b6;
    color: #fff;
    border: 1px solid #ffb8b6;

}

.lli1:active,.lli1:hover{
    background-color: #f44;
        transition: background-color 0.5s , color 0.5s;

}

.lli2{
    border: 1px solid #ffb8b6;
    color: #ffb8b6;
}

.lli2:active,.lli2:hover{
    background-color: #f44;
    color:#fff;
    transition: background-color 0.5s , color 0.5s;

}

/***********************/
/* sections             /
/***********************/
.cards{
    display: flex;
    justify-content: space-between;

}
.card{
    width: 21%;
/*direction: ltr;*/
}
ion-icon{
    width: 50px;
    height: 50px;
    fill:#ffb8b6;
    margin-bottom: 20px;
    padding-right: 85px;
}
.card p{
    font-size: 90%;
    line-height:1.5;
}